<div class="author">
    <ul class="ulItem">
        <% data.forEach(item => { %>
        <a href="/item/<%= item._id %>">
            <li class="liItem">
                <span><%= item.title %></span>
                <span class="subject 
                    <%= item.subject === 'Robotics' ? 'robotics' : '' %>
                    <%= item.subject === 'Chemistry' ? 'chemistry' : '' %>
                    <%= item.subject === 'Biology' ? 'biology' : '' %>
                    <%= item.subject === 'Physics' ? 'physics' : '' %>
                ">
                    <%= item.subject %>
                </span>
                <img src="<%= item.image %>" alt="<%= item.title %>">
                <span class="availability <%= item.borrowed ? 'in-use' : 'available' %>">
                    <%= item.borrowed ? "Unavailable" : "Available" %>
                </span>
            </li>
        </a>
        <% }) %>
    </ul>

    <% if (prevPage !== null) { %>
        <a class="pagination" href="/?page=<%= prevPage %>">&it;&#60;</a>
    <% } %>
    <a class="pagination" href="/?page=<%=current%>"><%= current %></a>
    <% if (nextPage !== null) { %>
        <a class="pagination" href="/?page=<%= nextPage %>">&it;&#62;</a>
    <% } %>




    <p class="author__body">be careful with the equipment blablabla</p>
</div>
