<div class="author">
    <h1>Search Results for <%=searchNoSpecialChar%></h1>
</div>

<ul class="ulItem">
    <% data.forEach(data => { %>
    <a href="/item/<%= data._id %>">
        
        <div class="item-container">
            <div class="item-card">
                <img src="<%= data.image %>" alt="<%= data.title %>" class="item-image">
                <div class="item-details">
                    <h3 class="item-title"><%= data.title %></h3>
                    <span class="item-subject"><%= data.subject %></span>
                    <span class="availability <%= data.quantity === 0 ? 'unavailable' : 'available' %>">
                        <%= data.quantity === 0 ? "Unavailable" : `${data.quantity} left` %>
                    </span>
                    <button class="view-details-button" onclick="openModal('<%= data._id %>')">View Details</button>
                </div>
            </div>
        </div>

    </a>
    <% }) %>
</ul>